@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.navbar{
    background-color: white !important;
    // border-bottom: solid 1.5px;
    font-size: x-large !important;
}

.main-nav{
    padding: 0 20px 0 20px ;
}
.btn-primario{
    background-color: #ffd803;
    color: #272343;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 9px;
    border: none;
}
.btn-primario:hover{
    box-shadow: 0 8px 20px -10px rgba(31, 18, 53, 0.651);
    background-color: #ffec86;
    border: outset 1px #f3d633;
    
}
.btn-secundario{
    background-color: #bae8e8;
    color: #272343;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 9px;
    border: none;
}
.btn-secundario:hover{
    box-shadow: 0 8px 20px -10px rgba(31, 18, 53, 0.651);
    background-color: #bbffff;
    border: outset 1px #b0e5e5;
    
}
.btn-form{
    background-color: #272343;
    color: #fffffe;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 9px;
    border: none;
}
.btn-form:hover{
    box-shadow: 0 8px 20px -10px rgba(31, 18, 53, 0.651);
    background-color: #55507e;
    color: #fffffe;
    border: outset 1px #8a83c3;
    
}
.row{
    justify-content: space-evenly;
}
.contenedor-secundario{
    content: "";
    min-height: 500px;
    width: auto;
    background-color: #cff5f3;
    padding: 30px;
}
.contenedor-primario{
    content: "";
    min-height: 500px;
    width: auto;
    background-color: #fffffe;
    padding: 30px;
}
.cart-primario{
    content: "";
    background-color: #272343;
    color: white;
    height: 400px;
    max-width: 350px ;
    -webkit-box-shadow: 0 10px 50px -6px #777;
    -moz-box-shadow: 0 10px 50px -6px #777;
         box-shadow: 0 10px 50px -6px #777;
    margin: 30px auto 10px auto;
    padding: 30px;
    border-radius: 15px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.cart-secundario{
    content: "";
    background-color: #fffffe;
    
    height: 400px;
    max-width: 350px ;
    -webkit-box-shadow: 0 10px 50px -6px #777;
    -moz-box-shadow: 0 10px 50px -6px #777;
         box-shadow: 0 10px 50px -6px #777;
    margin: 30px auto 10px auto;
    padding: 30px;
    border-radius: 15px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.card-title-primario{
    padding: 10px 0 10px 0;
    color: #fffffe;
}
.card-text-primario{
    color: #fffffe;
    padding: 0 15px 0 15px;
    margin-top: 20px;
    text-align: justify !important;
   
}
.card-title-secundario{
    padding: 10px 0 10px 0;
    color: #272343;
}
.card-text-secundario{
    color: #272343;
    padding: 0 15px 0 15px;
    margin-top: 20px;
    text-align: justify !important;
   
}
.sticky-top-image{
    position: sticky;
    top: 100px;
    z-index: 1000;
}
.bg-whiteT{
    background-color: rgba(223, 223, 223, 0.568);
    color: black;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(151, 151, 151);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 56, 58);
}
.footer {
    background-color: #24262b;
    padding: 50px 0 10px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f3d633;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}
.formulario{
    padding: 30px;
    border-width: 2px;
    border-radius: 20px;
    margin: 50px;
}
.dropdown-menu{
        min-width: 250px;
        padding: 20px;
        line-height: 8px;
       
}
.dropdown-menu[data-bs-popper]{
    top: 120% !important;
    left: -120% !important;
    -webkit-box-shadow: 0 10px 50px -6px #777;
        -moz-box-shadow: 0 10px 50px -6px #777;
        box-shadow: 0 10px 50px -6px #777;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
@media screen and (max-width: 775px){
    .cart-primary{
        content: "";
        margin-top: 30px;
    }
    .sticky-top-image{
        position: static;
    }
}
